/Python/08_Computer_Vision/*
!/Python/08_Computer_Vision/body.py
!/Python/08_Computer_Vision/README.md
!/Python/08_Computer_Vision/images
.ipynb_checkpoints
/Python/09_AI_Pitching
/Python/10_LSTM/*
!/Python/10_LSTM/TeslaSP-1day.ipynb
.gitignore
/Python/09_Head_Yaw_Angle_Detection/*
!/Python/09_Head_Yaw_Angle_Detection/main.py
!/Python/09_Head_Yaw_Angle_Detection/README.md
!/Python/09_Head_Yaw_Angle_Detection/images